{% with %}
{% set repo = event.repository %}
{% set issue = event.issue %}
{% set sender = event.sender %}
[{{ sender.login }}]({{ sender.html_url }}) has closed [issue #{{ issue.number }}]({{ issue.html_url }}) in [{{ repo.name }}]({{ repo.html_url }})

**Title**: {{ issue.title }}
{% endwith %}