{% with %}
{% set branch = event.ref | split('/') | last %}
New commits pushed to [{{ event.repository.name }}]({{ event.repository.html_url }}) on branch [{{ branch }}]({{ event.repository.html_url }}/tree/vcard)

{% for commit in event.commits -%}
**Commit**: [{{ commit.id[:7] }}]({{ commit.url }})
**Author**: {{ commit.author.name }} <{{ commit.author.email | default("no email") }}>
**Message**:
```
{{ commit.message }}
```
{%- if not loop.last %}

---

{% endif -%}
{%- endfor %}
{% endwith %}