{% with %}
{% set branch = event.ref | split('/') | last %}
New commits {% if event.forced %}force-{% endif %}pushed to [{{ event.repository.name }}]({{ event.repository.html_url }}) on branch [{{ branch }}]({{ event.repository.html_url }}/tree/{{ branch }})

{% for commit in event.commits -%}
{%- set author_name = commit.author.username if commit.author.username else commit.author.name -%}

```
{{ commit.message }}
```

**Commit**: [{{ commit.id[:7] }}]({{ commit.url }})  |  **Author**: {% if commit.author.email %}[{{ author_name }}](mailto:{{ commit.author.email }}){% else %}{{ author_name }}{% endif %}
{%- if not loop.last %}

---

{% endif -%}
{%- endfor %}
{% endwith %}